.community-section-container {
  width: 450px;
  height: 720px;
  position: absolute;
  background-color: var(--primary-theme-color-dark);
  top: 0;
  left: 0;
}

.community-section-wrapper {
  position: absolute;
  top: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-theme-color-dark);

  gap: 30px;
}

.start-community-logo {
  margin-top: 2rem;
}

.description {
  width: 370px;
  text-align: center;
  word-break: break-all;
}
