.community-section-wrapper {
  position: absolute;
  top: 100px;
  width: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.start-community-logo {
  margin-top: 2rem;
}

.description {
  width: 370px;
  text-align: center;
  word-break: break-all;
}
