.starred-messages-container {
  width: 450px;
  background-color: var(--primary-theme-color-dark);
  position: absolute;
  left: 0;
  top: 0;
}

.starred-messages-header {
  display: flex;
  justify-content: space-between;
}

.starred-messages-body {
  position: relative;
  top: 100px;
  height: 615px;
  overflow: hidden;
  overflow-y: auto;
}

.starred-messages-body::-webkit-scrollbar {
  width: 0.5vw;
}

.starred-messages-body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

.starred-messages-body::-webkit-scrollbar-track {
  background-color: transparent;
}

.information-for-older-messages {
  padding: 1rem;
  font-size: 14px;
  color: var(--information-for-older-messages);
  border-top: 1px solid var(--border-color-dark);
}
