.type-message-container {
  background-color: var(--navbar-theme-color-dark);
  padding: 1rem;
}

.type-message-text-area {
  display: flex;
  align-items: center;
}

.emoji-attach {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.emoji-icon,
.attach-icon-wrapper,
.microphone-icon {
  color: var(--default-icon-theme);
  cursor: pointer;
}

.type-message {
  flex-grow: 10;
}

.microphone-icon {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attach-icon-wrapper {
  position: relative;
}

.attach-items {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  opacity: 0;
  pointer-events: none;
}

.attach-item {
  margin-top: 10px;
}

.attach-item svg {
  border-radius: 50%;
  cursor: pointer;
}

.attach-active {
  opacity: 1;
  pointer-events: auto;
  animation: grow 500ms alternate;
}

.attach-item-scale {
  animation: scale 500ms alternate;
}

@keyframes grow {
  0% {
    opacity: 1;
    transform-origin: 0% 100%;
    transform: translateY(-20px) translateX(-50%) scaleY(0);
    transition: transform 500ms ease-in-out;
  }

  100% {
    transform: translateY(0px) translateX(-50%) scaleY(1);
    transition: transform 500ms ease-in-out;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
