.chat-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 72px;
  width: 100%;
  padding: 1rem;
}

.chat-wrapper:hover {
  background-color: var(--primary-hover-dark);
  cursor: pointer;
}

.headers-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 1rem;
}

.friend-name-and-time {
  display: flex;
  justify-content: space-between;

  width: 350px;
}

.options {
  display: none;
}

.chat-wrapper:hover .options {
  display: block;
  animation: slide 250ms alternate;
}

@keyframes slide {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}
