.new-community-wrapper {
  position: relative;
  top: 100px;
  width: 450px;
  height: 720px;
  margin-top: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-wrapper {
  position: relative;
}

.add-community-background-icon {
  filter: brightness(45%);
  color: var(--icon-gray-dark);
}

.add-community-icon {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primary-header-text-dark);
}

.add-community-text {
  word-wrap: nowrap;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  margin-top: 0.5rem;
}

.button-wrapper {
  margin-top: 8rem;
  position: relative;
  cursor: pointer;
}

.button-background {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-button-hover-dark);
}

.arrow-right {
  position: absolute;
  color: var(--primary-header-text-dark);
}
