.start-community-container {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--primary-theme-color-dark);
  height: 720px;
  overflow: hidden;
  padding: 20px 0;
}

.new-community-wrapper {
  position: relative;
  width: 450px;
  height: 720px;
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-theme-color-dark);
}

.icons-wrapper {
  position: relative;
  max-height: 200px;
}

.add-community-background-icon {
  filter: brightness(45%);
  color: var(--icon-gray-dark);
}

.add-community-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  color: var(--community-icon);
}

.add-community-text {
  word-spacing: 100000000000000px;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  margin-top: 0.5rem;
}

.button-wrapper {
  margin-top: 40px;
  margin-bottom: 200px;
  position: relative;
  cursor: pointer;
}

.button-background {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-button-hover-dark);
}

.arrow-right {
  position: absolute;
  color: var(--start-community-button-arrow);
}
