.privacy-container {
  height: 710px;

  width: 450px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--primary-theme-color-dark);
}

.privacy-container::-webkit-scrollbar {
  width: 0.5vw;
}

.privacy-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

.privacy-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.privacy-body {
  position: relative;
  top: 100px;
  padding: 0.5rem 2rem;
  border-left: 1px solid hsla(0, 0%, 0%, 0.1);
  height: 620px;
  max-height: 620px;
  overflow: hidden;
  overflow-y: auto;
}

.privacy-body::-webkit-scrollbar {
  width: 0.5vw;
}

.privacy-body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

.privacy-body::-webkit-scrollbar-track {
  background-color: transparent;
}

.personal-privacy-settings {
  margin-bottom: 1.2rem;
}

.disappearing-messages {
  padding: 0.5rem 0.1rem;
  position: relative;
}

.disappearing-messages::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 200%;
  left: -50%;
  top: -10%;
  background-color: var(--dark-background);
}

.disappearing-messages::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 120%;
  left: -10%;
  bottom: -10%;
  background-color: var(--dark-background);
}

.group-settings {
  position: relative;
}

.group-settings::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 120%;
  left: -10%;
  bottom: -5%;
  background-color: var(--dark-background);
}
