.setting-wrapper {
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.setting-svg {
  color: var(--settings-icon-theme);
  margin-right: 1.5rem;
}

.setting-wrapper:nth-child(n):not(:last-child):before {
  content: "";
  border-bottom: 1px solid var(--border-color-dark);
  position: absolute;
  width: 84%;
  bottom: 0;
  right: 0;
}

.setting-wrapper:hover {
  background-color: var(--primary-hover-dark);
  cursor: pointer;
}
