.starred-message-container {
  padding: 0rem 0.5rem;
  padding-bottom: 1rem;
  position: relative;
}

.starred-message-container:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  right: 2%;
  background-color: var(--border-color-dark);
}

.starred-message-container:hover {
  background-color: var(--starred-message-selected-background);
  cursor: pointer;
}

.starred-message-container:first-child {
  padding-top: 0.5rem;
}

.starred-message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  width: 100%;
}

.person-and-group-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-and-arrow-container {
  display: flex;
  align-items: center;
}

.starred-message-person-name {
  color: var(--starred-message-primary);
  margin-left: 0.4em;
  font-size: 14px;
}

.mini-arrow-right {
  position: relative;
  margin: 0 0.5rem;
  width: 10px;
  height: 10px;
}

.mini-arrow-right::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid black;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: rgb(102, 119, 129);
  border-right-color: transparent;
}

.starred-message-group-name {
  color: var(--starred-message-primary);
  font-size: 14px;
}

.date {
  font-size: 12px;
  color: var(--date-color);
}

.chat-arrow {
  margin-left: 0.5rem;
  color: var(--date-color);
}

.starred-message-body {
  max-width: 450px;
  margin-left: 1.5em;
  margin-top: 0.3em;
  display: flex;
  justify-content: flex-start;
}

.starred-message-container:last-child {
  border: none;
}
