.privacy-setting-container {
  width: 100%;
  padding: 0.5rem 0;
  margin-top: 2rem;
  border-bottom: 1px solid var(--border-color-dark);

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.privacy-setting-container svg {
  color: var(--icon-gray-dark);
}
