.checkbox-container label {
  display: flex;
}

.checkbox-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid var(--checkbox-border-color-dark);
  border-radius: 2px;
}

.checkbox-container input[type="checkbox"]:checked + label::before {
  animation: checked alternate 250ms;
  content: "\002714";
  background-color: var(--checkbox-background);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--checkbox-mark-dark);
}

@keyframes checked {
  0% {
    content: "";
  }

  50% {
    content: "";
    color: var(--checkbox-mark-dark);
  }

  100% {
    content: "\002714";
  }
}
