.sticker-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  column-gap: 5px;
  row-gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sticker-img,
.create-new-sticker {
  width: 100px;
  height: 100px;
}

.create-new-sticker {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: var(--sticker-button-background);
  border: 1px solid var(--sticker-button-border);
}

.create-new-sticker-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--sticker-button-text);
}

.sticker-img:hover,
.create-new-sticker:hover {
  transform: scale(1.15);
  transition: transform 0.3s;
}
