.button-primary {
  padding: 1em 1em;
  font-weight: 700;
  border-radius: 0.3em;
  letter-spacing: 1.25px;
  color: var(--primary-button-text-color-dark);
  background-color: var(--primary-button-background);
  border: none;
  margin-left: 1rem;
}

.button-primary:hover {
  background-color: var(--primary-button-hover-dark);
  cursor: pointer;
}
