.reaction-icons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  position: relative;
}

.reaction-icon-text,
.reaction-icon-chat {
  color: var(--emoji-icon-default);
  cursor: pointer;
}

.searched-emojis {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: auto;
  row-gap: 10px;
  margin-top: 10px;
  overflow: hidden;
  max-height: 500px;
}

.emojis-container {
  position: relative;
  max-height: 250px;
  overflow: hidden;
  overflow-y: auto;
}

.emojis-container::-webkit-scrollbar {
  width: 0.5vw;
}

.emojis-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

.emojis-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.reaction-emoji-chat {
  max-width: 375px;
  height: fit-content;
  max-height: 300px;
  overflow: hidden;
  background-color: var(--reaction-emoji-chat-background);
  border-radius: 10px;
  padding: 0.2em;
  position: absolute;
}

.reaction-icons-wrapper-message-chat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--border-color-dark);
}

.emojis-container-message-chat {
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
}

.emojis-container-message-chat::-webkit-scrollbar {
  width: 0.5vw;
}

.emojis-container-message-chat::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

.emojis-container-message-chat::-webkit-scrollbar-track {
  background-color: transparent;
}

.reaction-emoji-chat::-webkit-scrollbar {
  width: 0.5vw;
}

.reaction-emoji-chat::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

.reaction-emoji-chat::-webkit-scrollbar-track {
  background-color: transparent;
}

.reaction-search-chat {
  background-color: "var(--panel-background)";
  position: relative;
  max-width: 375px;
  overflow: hidden;
}

.reaction-icon-border-text {
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 50px;
  height: 5px;
  background-color: var(--teal);
  border-radius: 20px;
}

.reaction-icon-border-chat {
  position: absolute;
  width: 30px;
  height: 5px;
  left: 2px;
  bottom: 0;
  background-color: var(--teal);
  border-radius: 20px;
}
