.setting-with-checkbox-setting {
  padding: 1rem 0;
}

.setting-with-checkbox-option {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2rem;
}

.setting-with-checkbox-option-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hide {
  display: none;
}
