.archived-section-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-theme-color-dark);
}

.archived-section-nav {
  position: fixed;
  width: 450px;
  height: 100px;
  background-color: var(--navbar-theme-color-dark);
  display: flex;
  align-items: flex-end;
}

.title-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--primary-header-text-dark);
  font-size: 19px;
  width: 150px;
  margin-bottom: 1rem;
}

.archived-section-arrow-left {
  cursor: pointer;
}

.archived-chats-list {
  position: relative;
  top: 100px;
  height: 615px;
  overflow: hidden;
  overflow-y: auto;
}

.archived-chats-list::-webkit-scrollbar {
  width: 0.5vw;
}

.archived-chats-list::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

.archived-chats-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.archived-chats-list > *::before {
  content: "";
  position: absolute;
  width: 82%;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid var(--border-color-dark);
}

.archived-chats-list > *:last-child::before {
  content: "";
  border-bottom: none;
}
