.navbar-and-searchbar-wrapper {
  position: fixed;
}

.chats-and-footer {
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  top: 100px;

  height: 500px;
}

.chat-section-wrapper {
  position: relative;
  top: 100px;
  height: 615px;
  overflow: auto;
}

.friend-list-footer {
  position: absolute;
  color: var(--primary-header-text-dark);
  font-size: 0.75rem;
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
}

.footer-highlighted {
  color: var(--highlighted-color-dark);
}
