.navbar-and-searchbar-wrapper {
  position: fixed;
}

.chats-and-footer {
  position: absolute;
  overflow: hidden;
  overflow-y: auto;
  top: 100px;

  height: 500px;
}

.chat-section-wrapper {
  position: relative;
  top: 100px;
  height: 615px;
  overflow: auto;
}

.chat-section-wrapper > *:not(footer)::before {
  content: "";
  position: absolute;
  width: 82%;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid var(--border-color-dark);
}

.chat-section-wrapper > :not(footer):last-of-type::before {
  content: "";
  position: absolute;
  width: 92%;
  bottom: -10%;
  right: 0;
  border-bottom: 1px solid var(--border-color-dark);
}

.friend-list-footer {
  position: absolute;
  color: var(--primary-header-text-dark);
  font-size: 0.75rem;
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
}

.footer-highlighted {
  color: var(--highlighted-color-dark);
}
