.navbar-and-searchbar-wrapper {
  position: fixed;
}

.archived-and-chat-wrapper {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 615px;

  overflow: hidden;
  overflow-y: scroll;
}

.chat-section-wrapper {
  position: absolute;
  top: 100px;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.chat-section-wrapper > *::before {
  content: "";
  border-bottom: 1px solid var(--border-color-dark);
  position: absolute;
  width: 85%;
  bottom: 0;
  right: 0;
}
