.navbar-container {
  width: 100%;
  max-width: 450px;
  height: 60px;
  background-color: var(--navbar-theme-color-dark);
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-img-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.navigation-buttons-container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  color: var(--primary-nav-btn-color-dark);
  cursor: pointer;
  padding: 8px;
}

.direct-message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-theme-color-dark);
  height: 64px;
  padding: 1rem;
}

.profile-photo-and-name-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-button-and-menu-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--primary-nav-btn-color-dark);
}

.search-icon-wrapper {
  cursor: pointer;
}

.menu {
  cursor: pointer;
}

.more-options-btn-selected {
  padding: 8px;
  background-color: var(--nav-more-options-btn-selected);
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.more-options-btn-not-selected {
  padding: 8px;
  background-color: none;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

[data-options] {
  position: absolute;
  z-index: 100;
  bottom: -220px;
  right: 30px;
  transform: scale(0);
  visibility: hidden;
  pointer-events: none;
}

.more-options-btn-options-show {
  visibility: visible;
  pointer-events: auto;
  transform: scale(1);
  transform-origin: top right;
  transition: transform 0.2s ease-in-out;
}

.more-options-btn-options-hide {
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.2s ease-in-out;
  visibility: visible;
  pointer-events: none;
}

.direct-message-header-wallpaper-preview {
  background-color: var(--navbar-theme-color-dark);
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
