.navbar-container {
  width: 100%;
  height: 60px;
  background-color: var(--navbar-theme-color-dark);
  padding: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-img-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.navigation-buttons-container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  color: var(--primary-nav-btn-color-dark);
  cursor: pointer;
}

.direct-message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-theme-color-dark);
  height: 64px;
  padding: 1rem;
}

.profile-photo-and-name-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-button-and-menu-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--primary-nav-btn-color-dark);
}

.search-icon-wrapper {
  cursor: pointer;
}

.menu {
  cursor: pointer;
}
