.input-wrapper {
  position: relative;
  margin-top: 40px;
}

.input-wrapper-profile {
  margin-top: 5rem;
  position: relative;
}

.input-wrapper:last-child,
.input-wrapper-profile:last-child {
  margin-top: 3rem;
}

.input-wrapper input,
.input-wrapper-profile input {
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid var(--searchbar-text-color-dark);

  width: 400px;
}

.input-wrapper-profile input {
  border: none;
  pointer-events: none;
}

.edit {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 5%;
  color: var(--icon-gray-dark);
}

.placeholder {
  color: var(--searchbar-text-color-dark);
  position: absolute;
  bottom: 0;
}

.input-area-and-placeholder {
  color: var(--searchbar-text-color-dark);
  position: absolute;
  bottom: 0;
}

.area-name {
  margin-bottom: 1.2rem;
  font-size: 14px;
  color: var(--teal);
  pointer-events: none;
}

.emoji-and-character-limit,
.emoji-and-character-limit-profile {
  display: flex;
  align-items: center;
  color: var(--icon-gray-dark);
  gap: 5px;
  position: absolute;
  right: 0;
  bottom: 5%;
}

.emoji-and-character-limit-profile {
  display: none;
}

.max-character {
  font-size: 14px;
  font-weight: lighter;
}

.input-wrapper input:focus,
.input-wrapper-profile input:focus {
  border-bottom: 1px solid var(--primary-button-hover-dark);
}
