.notifications-container {
  width: 450px;
  position: absolute;
  left: 0;
  top: 0;
}

.notifications-body {
  position: relative;
  top: 100px;
  padding: 1.5rem;
}

.hide {
  display: none;
}
