.archived-section-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 1rem 2rem;
}

.archived-logo svg {
  color: var(--highlighted-color-dark);
  height: 18px;
  width: 18px;
  margin-right: 0.4rem;
}
