.archived-section-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.archived-section-wrapper::before {
  content: "";
  border-bottom: 1px solid var(--border-color-dark);
  position: absolute;
  width: 85%;
  bottom: 0;
  right: 0;
}

.archived-logo svg {
  color: var(--highlighted-color-dark);
  height: 18px;
  width: 18px;
  margin-right: 0.4rem;
}
