.chat-message-container,
.chat-message-container-direct,
.chat-message-container-incoming,
.chat-message-container-outgoing {
  max-width: 540px;
  min-width: 60px;
  width: fit-content;
  background-color: var(--incoming-message);
  border-radius: 0.3em;
  padding: 0.5em;
  position: relative;
}

.chat-message-container-outgoing {
  background-color: var(--outgoing-message);
}

.chat-bubble-arrow {
  position: absolute;
  left: -2%;
  top: 0%;
  color: var(--incoming-message);
  transform: rotate(0deg);
}

.chat-bubble-arrow-outgoing {
  position: absolute;
  right: -2.5%;
  top: -10%;
  color: var(--outgoing-message);
  transform: rotate(270deg);
}

.replied-message-wrapper {
  border-radius: 0.3em;
  padding: 0em 0.3em;
  background-color: var(--incoming-message-deeper);
  color: var(--forwarded-message);
  font-size: 13px;
  border-left: 5px solid red;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.user-name {
  color: red;
}

.replied-message {
  padding: 0.3em;
  padding-top: 0;
  padding-bottom: 1em;
  justify-self: center;
}

.chat-message-header {
  padding: 0.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.3em;
  margin-top: 0.5em;
}

.message {
  color: var(--primary-message);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-icon-and-time {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 1em;
  margin-top: 0.5em;
}

.star-icon {
  color: var(--star-icon);
  margin-right: 0.5em;
}

.chat-options-icon {
  visibility: hidden;
}

.chat-message-container:hover .chat-options-icon {
  visibility: visible;
  animation: slide-from-right 0.3s alternate forwards;
}

.chat-options-icon-direct {
  position: absolute;
  right: 5%;
  top: 0;
  width: 24px;
  height: 24px;
  background-color: var(--incoming-message);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.message-container-direct {
  display: flex;
  justify-content: space-between;
  padding: 0 0.3em;
}

.chat-message-container-direct:hover .chat-options-icon-direct {
  visibility: visible;
  animation: slide-from-right 0.3s alternate forwards;
}

@keyframes slide-from-right {
  0% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}
