.section-header-nav {
  position: absolute;
  width: 450px;
  height: 100px;
  z-index: 5;
  background-color: var(--navbar-theme-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  top: 0;
  left: 0;
}

.title-section,
.title-section-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--primary-header-text-dark);
  font-weight: 500;
  width: 150px;
  font-size: 19px;
  margin-bottom: 1rem;
  padding: 5px 15px;
  position: absolute;
}

.title-section {
  margin-left: 40px;
}

.title-section-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-header-text-dark);
  font-weight: 500;
  height: fit-content;
  min-width: 420px;
  max-width: 420px;
  font-size: 19px;
  padding: 5px 15px;
  position: absolute;
}

.section-header-arrow-left {
  cursor: pointer;
  margin-right: 1.5rem;
}

.section-header-title {
  white-space: nowrap;
}

.arrow-and-header {
  display: flex;
  justify-content: flex-start;
}

.menu-icon {
  color: var(--primary-header-text-dark);
  cursor: pointer;
}
