.section-header-nav {
  position: absolute;
  display: flex;
  align-items: flex-end;
  width: 450px;
  height: 100px;
  z-index: 5;
  background-color: var(--section-header-background);
  top: 0;
  left: 0;
}

.title-section,
.title-section-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 60%;
  color: var(--primary-header-text-dark);
  padding: 5px 20px;
}

.title-section-menu {
  min-width: 100%;
  justify-content: space-between;
}

.section-header-arrow-left {
  margin-left: 0;
  margin-right: 20px;
  cursor: pointer;
}

.section-header-title {
  min-width: 200px;
}

.arrow-and-header {
  justify-self: flex-start;
  display: flex;
  align-items: center;
}

.menu-icon {
  justify-self: flex-end;
}
