@import-normalize;
@import url(./components/ChatSection/chatSection.css);
@import url(./components/FriendsListSection/friendsListSection.css);
@import url(./components/Navbar/navbar.css);
@import url(./components/Searchbar/searchbar.css);
@import url(./components/Archived/archived.css);
@import url(./components/Message/message.css);
@import url(./components/SearchFriend/searchFriend.css);
@import url(./components/Time/time.css);
@import url(./components/Archived/archived.css);
@import url(./components/SectionHeader/sectionHeader.css);
@import url(./components/CommunitiesSection/communitiesSection.css);
@import url(./components/NewChat/newChat.css);
@import url(./components/ContactsList/contactsList.css);
@import url(./components/Contact/contact.css);
@import url(./components/CustomInputArea/customInputArea.css);
@import url(./components/Profile/profile.css);
@import url(./components/CustomCheckbox/customCheckbox.css);
@import url(./components/Privacy/privacy.css);
@import url(./components/MiniSectionHeader/miniSectionHeader.css);
@import url(./components/PrivacySettings/privacySettings.css);
@import url(./components/Security/security.css);
@import url(./components/LogoAndText/logoAndText.css);
@import url(./components/Theme/theme.css);
@import url(./components/ButtonPrimary/buttonPrimary.css);
@import url(./components/ButtonSecondary/buttonSecondary.css);
@import url(./components/CustomAlert/customAlert.css);
@import url(./components/ChatWallpaper/chatWallpaper.css);
@import url(./components/ChatWallpaperColor/chatWallpaperColor.css);
@import url(./components/RequestAccountInfo/requestAccountInfo.css);
@import url(./components/KeyboardShortcuts/keyboardShortcuts.css);
@import url(./components/StarredMessages/starredMessages.css);
@import url(./components/StarredMessage/starredMessage.css);
@import url(./components/ChatMessage/chatMessage.css);
@import url(./components/DirectMessage/directMessage.css);
@import url(./components/TypeMessage/typeMessage.css);
@import url(./components/InputText/inputText.css);
@import url(./components/ReactionsContainer/reactionsContainer.css);
@import url(./components/EmojiGrid/emojiGrid.css);
@import url(./components/GifGrid/gifGrid.css);
@import url(./components/StickerGrid/stickerGrid.css);
@import url(./components/Gif/gif.css);
@import url(./components/OptionsMenu/optionsMenu.css);
@import url(./components/Option/option.css);
@import url(./components/RepliedMessage/repliedMessage.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Segoe UI, Arial, Helvetica, sans-serif;
}

:root {
  --primary-theme-color-dark: #111b21;
  --navbar-theme-color-dark: #202c33;
  --primary-nav-btn-color-dark: #aebac1;
  --searchbar-text-color-dark: #d1d7db;
  --primary-input-text-color: #d1d7db;
  --highlighted-color-dark: #00a884;
  --primary-header-text-dark: #e9edef;
  --primary-header-text-dull: rgba(233, 237, 239, 0.8);
  --secondary-header-text-dark: #8696a0;
  --settings-icon-theme: #8696a0;
  --default-icon-theme: #8696a0;
  --border-color-dark: rgba(134, 150, 160, 0.15);
  --primary-hover-dark: hsla(0, 0%, 50%, 0.1);
  --secondary-hover-dark: rgba(233, 237, 239, 0.05);
  --secondary-hover-text-dark: #06cf9c;
  --options-button-dark: hsla(0, 0%, 100%, 0.5);
  --primary-button-color-dark: #00a884;
  --primary-button-hover-dark: #06cf9c;
  --icon-gray-dark: #54656f;
  --icon-white-dark: #fff;
  --teal: #008069;
  --checkbox-border-color-dark: #d1d7db;
  --checkbox-background: #00a884;
  --checkbox-mark-dark: #111b21;
  --dark-background: #0a1014;
  --secondary-header-light-text-color-dark: #667781;
  --link: #53bdeb;
  --primary-button-text-color-dark: #111b21;
  --primary-button-background: #00a884;
  --secondary-button-text-color-dark: #00a884;
  --secondary-button-border-color: rgba(134, 150, 160, 0.15);
  --modal-background: #3b4a54;
  --overlay: #0a1014;
  --default-chat-wallpaper-dark: #0b141a;
  --wallpaper-active: #667781;
  --wallpaper-hover: #3b4a54;
  --shortcut-key: #e9edef;
  --starred-message-primary: #d1d7db;
  --date-color: #667781;
  --primary-message: #e9edef;
  --incoming-message: #202c33;
  --incoming-message-deeper: #1d282f;
  --outgoing-message: #005c4b;
  --forwarded-message: hsla(0, 0%, 100%, 0.6);
  --star-icon: hsla(0, 0%, 100%, 0.5);
  --reaction-button: rgba(233, 237, 239, 0.5);
  --reaction-button-background: rgba(0, 0, 0, 0.7);
  --starred-message-selected-background: #0c1317;
  --information-for-older-messages: #667781;
  --encrypted-icon: #667781;
  --chat-section-border: #008069;
  --placeholder: #d1d7db;
  --input-background: #2a3942;
  --scrollbar-color: rgba(134, 150, 160, 0.35);
  --panel-background: #222e35;
  --emoji-icon-default: rgba(233, 237, 239, 0.32);
  --emoji-icon-highlighted: #8696a0;
  --sticker-button-background: #26353d;
  --sticker-button-text: #d1d7db;
  --sticker-button-border: rgba(134, 150, 160, 0.15);
  --reaction-emoji-chat-background: #233138;
  --more-emoji-button-background: #667781;
  --option-menu-background: #233138;
  --option-hover-color: #202c33;
  --nav-more-options-btn-selected: hsla(0, 0%, 100%, 0.1);
  --chat-active: #2a3942;
  --reply-message-background-text: rgb(11, 20, 26);
  --reply-message-background-chat: #025144;
  --deleted-message: rgb(84, 101, 111);
}

body {
  background-color: var(--primary-theme-color-dark);
  margin: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  max-width: 95vw;
  max-height: 95vh;
  width: 95vw;
  height: 95vh;

  display: flex;
  justify-content: center;
}

.friends-list-container {
  max-width: 450px;
  min-width: 450px;
  width: 450px;
  flex-grow: 1;
  overflow: hidden;
  background-color: var(--primary-theme-color-dark);
  position: relative;
}

.direct-message-container {
  flex-grow: 1;
  min-width: 1050px;
  max-width: 1050px;
  background-color: var(--navbar-theme-color-dark);
  border-left: 1px solid var(--border-color-dark);
  z-index: 100;
}

.section-deactivate {
  position: absolute;
  transform: translateX(-110%);
  transition: transform 0.3s ease;
  z-index: 1000;
  animation: hide-section 0.3s alternate forwards;
}

.section-active {
  position: absolute;
  transform: translateX(0%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.alert-deactivate {
  transform: scale(0) translateX(-50%) translateY(-50%);
  transform-origin: top left;
  transition: transform 0.3s ease;
  pointer-events: auto;
}

.alert-active {
  transform: scale(1) translateX(-50%) translateY(-50%);
  transform-origin: top left;
  transition: transform 0.3s ease-in-out;
  pointer-events: auto;
}

.overlay-show {
  visibility: visible;
  pointer-events: auto;
}

.overlay-hide {
  visibility: hidden;
  pointer-events: none;
}
