@import-normalize;
@import url(./components/ChatSection/chatSection.css);
@import url(./components/FriendsListSection/friendsListSection.css);
@import url(./components/Navbar/navbar.css);
@import url(./components/Searchbar/searchbar.css);
@import url(./components/Archived/archived.css);
@import url(./components/Message/message.css);
@import url(./components/SearchFriend/searchFriend.css);
@import url(./components/Time/time.css);
@import url(./components/Archived/archived.css);
@import url(./components/SectionHeader/sectionHeader.css);
@import url(./components/CommunitiesSection/communitiesSection.css);
@import url(./components/NewChat/newChat.css);
@import url(./components/ContactsList/contactsList.css);
@import url(./components/Contact/contact.css);
@import url(./components/CustomInputArea/customInputArea.css);
@import url(./components/Profile/profile.css);
@import url(./components/CustomCheckbox/customCheckbox.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-theme-color-dark: #111b21;
  --navbar-theme-color-dark: #202c33;
  --primary-nav-btn-color-dark: #aebac1;
  --searchbar-text-color-dark: #d1d7db;
  --highlighted-color-dark: #00a884;
  --primary-header-text-dark: #e9edef;
  --secondary-header-text-dark: #8696a0;
  --settings-icon-theme: #8696a0;
  --border-color-dark: rgba(134, 150, 160, 0.15);
  --primary-hover-dark: hsla(0, 0%, 50%, 0.1);
  --options-button-dark: hsla(0, 0%, 100%, 0.5);
  --primary-button-color-dark: #00a884;
  --primary-button-hover-dark: #06cf9c;
  --icon-gray-dark: #54656f;
  --icon-white-dark: #fff;
  --teal: #008069;
  --checkbox-border-color-dark: #d1d7db;
  --checkbox-background: #00a884;
  --checkbox-mark-dark: #111b21;
}

body {
  background-color: var(--primary-theme-color-dark);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  background-color: red;

  max-width: 95vw;
  max-height: 95vh;
  width: 95vw;
  height: 95vh;

  display: flex;
}

.friends-list-container {
  max-width: 450px;
  width: 450px;
  background-color: var(--primary-theme-color-dark);
  position: relative;
}

.chat-section-container {
  flex-grow: 1;
  background-color: var(--navbar-theme-color-dark);
}
