.reactions-container {
  width: 100%;
  position: relative;
  flex-grow: 1;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.reaction-icons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  position: relative;
}

.reaction-icon {
  color: var(--default-icon-theme);
  cursor: pointer;
}

.reaction-icon-border {
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 50px;
  height: 5px;
  background-color: var(--teal);
  border-radius: 20px;
}

.emojis-container {
  position: relative;
  max-height: 250px;
  overflow: hidden;
  overflow-y: auto;
}

.emojis-container::-webkit-scrollbar {
  width: 0.5vw;
}

.emojis-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

.emojis-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.searchbar-hide {
  animation: searchbar-hide alternate 0.25s forwards;
}

.searhbar-show {
  animation: searchbar-show alternate 0.25s forwards;
}

.reactions-hide {
}

.reactions-show {
  animation: show-reactions 0.25s alternate forwards;
}

.reactions-show {
  transform: translateY(0);
  opacity: 1;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}

@keyframes searchbar-hide {
  0% {
    transform: translateX(30px);
    transition: transform 0.2s ease-in;
  }

  50% {
    transform: translateX(50px);
    opacity: 0.5;
    transition: transform 0.2s ease-in;
  }

  100% {
    transform: translateX(100px);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.2s ease-in;
  }
}

@keyframes searchbar-show {
  0% {
    transform: translateX(100px);
    transition: transform 0.2s ease-in;
  }

  50% {
    transform: translateX(50px);
    opacity: 0.5;
    transition: transform 0.2s ease-in;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
    pointer-events: auto;
    transition: transform 0.2s ease-in;
  }
}
