.reactions-container {
  width: 100%;
  position: relative;
  flex-grow: 1;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.reaction-icons-wrapper,
.gif-headers-wrapper,
.sticker-headers-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  position: relative;
}

.reaction-icon,
.gif-header,
.sticker-header {
  color: var(--emoji-icon-default);
  cursor: pointer;
}

.reaction-gif {
  position: relative;
}

.reaction-icon-border,
.gif-header-border,
.sticker-header-border {
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 50px;
  height: 5px;
  background-color: var(--teal);
  border-radius: 20px;
}

.gif-header-border::before {
  content: "";
  width: 1049px;
  height: 1px;
  background-color: var(--border-color-dark);
  position: absolute;
  left: -20%;
  bottom: 0%;
}

.gif-header-border::after {
  content: "";
  width: 1049px;
  height: 1px;
  background-color: var(--teal);
  position: absolute;
  left: -20%;
  bottom: 0%;
  animation: slide-border cubic-bezier(0.22, 0.59, 1, 0.26) 3s infinite;
}

.tv,
.sticker-store-stickers {
  margin-right: 16px;
}

.gif-header-border {
  width: 90px;
}

.emojis-container,
.gif-container,
.sticker-container {
  position: relative;
  max-height: 250px;
  overflow: hidden;
  overflow-y: auto;
}

.emojis-container::-webkit-scrollbar {
  width: 0.5vw;
}

.emojis-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

.emojis-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.searchbar-hide {
  animation: searchbar-hide alternate 0.25s forwards;
}

.searhbar-show {
  animation: searchbar-show alternate 0.25s forwards;
}

.searched-emojis {
  display: grid;
  grid-template-columns: repeat(23, 1fr);
  grid-template-rows: auto;
  row-gap: 10px;
  margin-top: 10px;
  overflow: hidden;
  max-height: 500px;
}

.hide-content {
  display: none;
}

path {
  pointer-events: none;
}

@keyframes searchbar-hide {
  0% {
    transform: translateX(30px);
    transition: transform 0.2s ease-in;
  }

  50% {
    transform: translateX(50px);
    opacity: 0.5;
    transition: transform 0.2s ease-in;
  }

  100% {
    transform: translateX(100px);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.2s ease-in;
  }
}

@keyframes searchbar-show {
  0% {
    transform: translateX(100px);
    transition: transform 0.2s ease-in;
  }

  50% {
    transform: translateX(50px);
    opacity: 0.5;
    transition: transform 0.2s ease-in;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
    pointer-events: auto;
    transition: transform 0.2s ease-in;
  }
}

@keyframes slide-border {
  0% {
    transform: translateX(-1500px);
  }

  100% {
    transform: translateX(1500px);
  }
}
