.settings-wrapper {
  width: 450px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-theme-color-dark);
}

.settings-body {
  position: relative;
  top: 100px;
}

.profile {
  display: flex;
  align-items: center;
  padding: 10px;
}

.profile:hover {
  background-color: var(--primary-hover-dark);
  cursor: pointer;
}

.user-name-and-about {
  margin-left: 1rem;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
