.shortcut-key {
  border: 1px solid var(--shortcut-key-background-border);
  background-color: var(--shortcut-key-background);
  color: var(--shortcut-key);
  width: fit-content;
  height: fit-content;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 12px;
  margin-left: 0.3em;
}
