.message-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-and-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
